@import "tailwindcss";

@theme {
    /* --color-super-real-me: #DCB4FA;
  --color-almond-chocolate: #E18A9B;
  --color-bomb: #92BBEF;
  --color-toki-yo-tomare: #FFFDE4; */
  --breakpoint-2xl: 1320px;
  --default-font-family: "Inter", sans-serif;
  --color-primary: oklch(58.8% 0.158 241.966);
  --color-primary-darkmode: oklch(0.3014 0.0297 254.69);
  --color-navbar: oklch(27.9% 0.041 260.031);
  --color-navbar-blur: oklch(96.7% 0.003 264.542 / 0.7); /*0.7 = opacity background 70%*/
  --color-navbar-small: #FFFFFF;
  --color-hamburger: #000000;
  --color-secondary: oklch(55.4% 0.046 257.417);
  --color-title: #000000;
  --color-footer: oklch(12.9% 0.042 264.695);
  --color-music: #DCB4FA;
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;  /* This is 'center: true' */
    margin-right: auto; /* This is 'center: true' */
    @media (width < 768px) {
        padding: 24px;
    }
  }
}

.navbar-fixed {
    position: fixed;
    z-index: 9999;
    background-color: var(--color-navbar-blur);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.hamburger-line {
  width: 30px; 
  height: 2px;
  margin-block: 6px;
  display: block;
  background-color: var(--color-hamburger);
}

.hamburger-active > span:nth-child(1) {
  /* transform-origin: 0 0; */
  rotate: 32.5deg;
}

.hamburger-active > span:nth-child(2) {
  scale: 0;
}

.hamburger-active > span:nth-child(3) {
  /* transform-origin: 0 100%; */
  rotate: -32.5deg;
}
